<div class="admin-controls">
    <a href="/admin/add-product"><button class="admin-control-btn add-product-control">Add Product</button></a>
    <a href="/admin/admin-products"><button class="admin-control-btn admin-products-control">Admin Products</button></a>
</div>
<hr class="admin-controls-end">