<!DOCTYPE html>
<html>
    <head>
        <title><%= docTitle %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/mobile/navbar-mobile.css">
        <link rel="stylesheet" href="/css/mobile/display-products-mobile.css">
        <link rel="stylesheet" href="/css/mobile/product-details-mobile.css">
        <link rel="stylesheet" href="/css/mobile/search-shop-mobile.css">
        <link rel="stylesheet" href="/css/mobile/login-mobile.css">
        <link rel="stylesheet" href="/css/mobile/signup-mobile.css">
        <link rel="stylesheet" href="/css/mobile/cart-mobile.css">
        <link rel="stylesheet" href="/css/mobile/wishlist-mobile.css">
        <link rel="stylesheet" href="/css/mobile/404-mobile.css">
        <link rel="stylesheet" href="/css/mobile/500-mobile.css">
    </head>
    <body>