<%- include('../includes/head-mobile.ejs') %>
</head>
<body>
    <div class="error-404-page">
        <img src="/images/404-error-img.png" alt="" class="error-404-image">
        Page not found
    </div>
</body>
