<%- include('../includes/head-mobile.ejs') %>
</head>
<body>
    <div class="error-500-page">
        <img src="/images/505-error-img.jpeg" alt="" class="error-500-image">
        Something went wrong.
        <div class="error-message">
            Please try again later.
        </div>
    </div>
</body>
